* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url('assets/pen.png'), auto;
  background-image: url('assets/backgroundImage.png');
}

#tela {
  margin-top: 30px;
  background-color: #FFF;
  box-shadow: 0px 0px 16px 1px #444;
  border-radius: 5px;
}

#paleta {
  width: auto;
  background-color: #FFF;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px 1px #444;
  border-radius: 5px;
}

#colors {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgb(0, 0, 0, 0.5);
  padding: 0 10px;
  margin: 0 10px;
}

#sizeInput {
  width: 100px;
}

#selectedColor {
  width: 60px;
  height: 60px;
}

.colorBtn {
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  border: none;
  border-radius: 50px;
}

.colorBtn:hover {
  box-shadow: 0px 0px 5px 1px #AAA;
}

/*   
  COLORS 
*/

.blue {
  background-color: #2E86C1;
}

.red {
  background-color: #E74C3C;
}

.green {
  background-color: #2ECC71;
}

.black {
  background-color: #000000;
}